<% layout('/layouts/boilerplate.ejs') %>
<body>
  
 <style>
#filters{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#filter{
  text-align: center;
  margin-right: 2rem;
  margin-top: 0.6rem;
  opacity: 0.7;
  
}

#filter:hover{
  opacity: 1;
  cursor: pointer;
}
#filter p{
  font-size: 0.8rem;
}
.tax-info{
  display: none;
}

.Tax-toggle{
  border: 1px solid black;
  border-radius: 1rem;
  height: 3.2\rem;
  padding: 1rem;
  margin-left: 4rem;
  display: flex;
  align-items: center;
}
 </style>

  
  <div id="filters">
    <div id="filter">
      <div><i class="fa-solid fa-fire"></i></div>
      <p>Trending</p>
    </div>

    <div id="filter">
      <div><i  class="fa-solid fa-bed"></i></div>
      <p>Rooms</p>
    </div>

    
      <div id="filter">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <p>Iconic Cities</p>
        </div>
     
      <div id="filter">
        <div><i class="fa-solid fa-mountain"></i></div>
        <p>Mountains</p>
        </div>

        <div id="filter">
          <div><i class="fa-brands fa-fort-awesome"></i></div>
          <p>Castles</p>
        </div>
    
        <div id="filter">
          <div><i class="fa-solid fa-person-swimming"></i> </div>
          <p>Amazing Pools</p>
        </div>

        
      <div id="filter">
        <div><i class="fa-solid fa-campground"></i></div>
        <p>Camping</p>
        </div>

        <div id="filter">
          <div><i class="fa-solid fa-cow"></i></div>
          <p>Farms</p>
        </div>
    
        <div id="filter">
          <div><i class="fa-solid fa-snowflake"></i> </div>
          <p>Arctic</p>
        </div>

        
        <div id="filter">
          <div><i class="fa-solid fa-igloo"></i></div>
          <p>Dome</p>
        </div>

       


      <div class="Tax-toggle" id="nice`">
        <div class="form-check-reverse form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
          <label class="form-check-label" for="switchCheckDefault">Display Total After Taxes</label>
        </div>
      </div>

  </div>



  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-2">
    <% for (let listing of allListings) { %>
      <div class="card col listing-card"> 
        <a href="/listings/<%= listing._id %>" class="listing-link">
          <img src="<%= listing.image?.url || '/default-image.jpg' %>" 
               class="card-img-top" 
               alt="Listing Image" 
               style="height: 20rem; object-fit: cover;">
          <div class="card-body">
            <p class="card-text">
              <b><%= listing.title %></b> <br>
              &#8377;<%= (listing.price ? listing.price.toLocaleString('en-IN') : 'N/A') %>/night
              <i class="tax-info">&nbsp; +18%GST</i>
          </div>
        </a>
      </div>
    <% } %>
  </div>
</body>

<script>
  let taxSwitch = document.getElementById('switchCheckDefault');
  taxSwitch.addEventListener('click', ()=>{
    let taxinfo = document.getElementsByClassName('tax-info');
    
    for(info of taxinfo){
      if(info.style.display != "inline"){ 
      info.style.display="inline"
      }else{
        info.style.display="none"
      }
    }
  });
</script>
